<div class="container-fluid ng-cloak" ng-cloak ng-controller="CreateInvoiceController">
    <div class="row">
        <h1 class="text-center">{{'part.create_invoice' | translate}}</h1>
    </div>
            
    <div class=" row-space">
        <form  role="form" name="form"
              class="" novalidate>

            <div class="row">
                <div class="form-group col-md-offset-3 col-md-6">
                    <label for="InputCompany">{{'customer.customer_name' | translate}}</label>
                    <input type="text"
                           name="company"
                           ng-model="retrieved.customer"
                           id="InputCompany"
                           placeholder="{{'common.enter_customer_name' | translate}}"
                           typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue} | limitTo:8"
                           typeahead-loading="loadingCompanies"
                           typeahead-on-select='onSelectCustomer($item, $model, $label)'
                           class="form-control" required >
                </div>
            </div>

            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <div class="row" ng-show="camera">
                        <div class="center-block text-center">
                            <div id="reader" style="width:300px;height:230px; display: inline-block">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="center-block text-center">
                            <button class="btn btn-primary" ng-show="!camera" ng-click="getScan()">QR Code</button>
                            <button class="btn btn-danger" ng-show="camera" ng-click="closeCam()">{{'common.close' |translate }}</button>
                        </div>
                    </div>
                </div>
                <div class="form-group ng-cloak" ng-class="{'col-md-5':camera ,'col-md-offset-3 col-md-6': !camera}" style="margin-top: 20px;"
                     ng-show="found.customer && form.company.$valid" ng-cloak>
                    <p><strong>{{'customer.name' | translate}} : </strong>{{invoice.customer.name}}</p>
                    <p><strong>{{'customer.address' | translate}} : </strong>{{invoice.customer.address}}</p>
                    <p><strong>{{'customer.phone' | translate}} : </strong>{{invoice.customer.phone}}</p>
                    <p><strong>{{'customer.city' | translate}} : </strong>{{invoice.customer.city}}</p>
                    <p><strong>{{'customer.country' | translate}} : </strong>{{invoice.customer.country}}</p>
                    <p><strong class="text-success">{{'customer.account_type' | translate}} : </strong>{{invoice.customer.accountType | translate}}</p>
                    <p ng-show="invoice.customer.accountType=='Account'" class="text-danger">
                        <strong>Important : </strong>{{'message.account_type_account_message' | translate}}
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-offset-3 col-md-6">
                    <hr/>
                    <div class="form-inline">
                        <div class="form-group col-space">
                            <label for="InputMatriculation1">{{'invoice.registration' | translate}} 1</label>
                            <input type="text"
                                   class="form-control"
                                   id="InputMatriculation1"
                                   placeholder="{{'invoice.enter_registration' | translate }}"
                                   ng-model="invoice.matriculation.first">
                        </div>

                        <div class="form-group col-space">
                            <label for="InputMatriculation2">{{'invoice.registration' | translate}} 2</label>
                            <input type="text"
                                   class="form-control"
                                   id="InputMatriculation2"
                                   placeholder="{{'invoice.enter_registration' | translate }}"
                                   ng-model="invoice.matriculation.second">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-offset-3 col-md-6">
                    <label for="InputComment">{{'invoice.comment' | translate }}</label>
                    <textarea type="text" rows="2" class="form-control" id="InputComment" placeholder="{{'invoice.enter_comment' | translate }}"
                              ng-model="invoice.comment"></textarea>
                    <hr/>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2 col-md-offset-3" ng-show="invoice.customer.accountType=='Account'">
                    <label>{{'invoice.invoice_type' | translate }}</label>

                    <div class="radio">
                        <label>
                            <input type="radio"
                                   ng-model="invoice.type"
                                   value="Invoice">
                            {{'invoice.invoice' | translate }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   ng-model="invoice.type"
                                   value="Receipt">
                            {{'invoice.receipt' | translate }}
                        </label>
                    </div>
                </div>

                <div class="form-group col-md-2"
                     ng-class="{'col-md-offset-3' : invoice.customer.accountType=='Cash'}"
                     ng-show="invoice.customer.accountType=='Cash' || invoice.type=='Invoice'">
                    <label>{{'invoice.payment_mode.this' | translate }}</label>

                    <div class="radio">
                        <label>
                            <input type="radio"
                                   ng-model="invoice.paymentMode"
                                   value="Cash"
                                   checked>
                            {{'invoice.payment_mode.cash' | translate }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   ng-model="invoice.paymentMode"
                                   value="Cheque">
                            {{'invoice.payment_mode.cheque' | translate }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   ng-model="invoice.paymentMode"
                                   value="Card">
                            {{'invoice.payment_mode.card' | translate }}
                        </label>
                    </div>
                    <div class="radio">
                        <label>
                            <input type="radio"
                                   ng-model="invoice.paymentMode"
                                   value="DKV">
                            DKV
                        </label>
                    </div>
                </div>
            </div>





            <div class="row">
                <div class="form-group col-md-offset-3 col-md-6">
                    <hr/>
                    <label for="InputItem">{{'item.item' | translate}}</label>
                    <input type="text"
                           id="InputItem"
                           name="itemName"
                           ng-model="retrieved.item"
                           typeahead-loading="loadingCompanies"
                           placeholder="{{ 'item.enter_item_name' | translate }}"
                           typeahead="item as item.description for item in items | filter:{description:$viewValue}| limitTo:8 "
                           typeahead-on-select='onSelectItem($item, $model, $label)'
                           class="form-control" required>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-offset-3 col-md-6 ng-cloak" ng-show="found.item && form.itemName.$valid" ng-cloak>
                    <p><strong>{{ 'item.name' | translate }} :    </strong>{{item.name}}</p>
                    <p><strong>{{ 'item.type' | translate }} : </strong>{{item.type}}</p>
                    <p><strong>{{ 'item.price' | translate }} :   </strong>{{item.price}} &euro;</p>
                </div>
            </div>

            <div class="row">
                <div class="center-block text-center">
                    <button type="submit" class="btn btn-success"
                            ng-click="createInvoice()"
                            ng-disabled="form.$invalid || error.flag">{{ 'common.create' | translate }}</button>
                </div>
            </div>
        </form>

    </div>

    <div class="row row-space text-center">
        <div class="col-xs-offset-3 col-xs-6">
            <div ng-show="addedSuccess && form.itemName.$invalid && form.company.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span ng-show="chosenType=='Invoice'">{{ 'message.invoice_created_success' | translate }}</span>
                <span ng-show="chosenType=='Receipt'">{{ 'message.receipt_created_success' | translate }}</span>
            </div>

            <div ng-show="error.flag" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {{ 'message.error' | translate }} : {{error.message}}. {{ 'message.try_later_or_contact_admin' | translate }}
            </div>
            <spinner loading="loading"></spinner>
        </div>
    </div>

    <div class="row" ng-show="addedSuccess && form.itemName.$invalid && form.company.$invalid">
        <a class="btn btn-success col-xs-offset-4 col-xs-4 col-sm-offset-2 col-sm-2 col-space"
                ng-href="#/invoice/list/{{invoiceID}}"
                target="_blank">
            <span class="glyphicon glyphicon-eye-open"></span>
            {{ 'common.view' | translate }} (HTML)
        </a>
        <a class="btn btn-success col-xs-offset-4 col-xs-4 col-sm-offset-1 col-sm-2 col-space"
                ng-href="{{generateLink(invoiceID)}}"
                target="_blank">
            <span class="glyphicon glyphicon-eye-open"></span>
            {{ 'common.view' | translate }} (PDF)
        </a>
        <a class="btn btn-primary col-xs-offset-4 col-xs-4 col-sm-offset-1 col-sm-2 col-space"
                target="_self" ng-href="{{generateLink(invoiceID)}}"
                download="invoice-{{invoiceID}}.pdf">
            <span class="fa fa-download"></span>
            {{ 'common.download' | translate }}</a>
    </div>
</div>