<div class="container-fluid" ng-controller="CreateInvoiceController">
    <div class="row">
        <form role="form" class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">

                <div class="form-group">
                    <label for="InputCompany">Customer name</label>
                    <input type="text"
                           ng-model="retrieved"
                           id="InputCompany"
                           placeholder="Enter customer name"
                           typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue} "
                           typeahead-loading="loadingCompanies"
                           typeahead-on-select='onSelect($item, $model, $label)'
                           class="form-control" required>
                </div>

                <div class="form-group ng-cloak" ng-show="found" ng-cloak>
                    <p><strong>ID :      </strong>{{customer.ID}}</p>
                    <p><strong>Name :    </strong>{{customer.name}}</p>
                    <p><strong>Address : </strong>{{customer.address}}</p>
                    <p><strong>Phone :   </strong>{{customer.phone}}</p>
                    <p><strong>City :    </strong>{{customer.city}}</p>
                    <p><strong>Country : </strong>{{customer.country}}</p>
                </div>

                <div class="form-group">
                    <label for="InputMatriculation1">Matriculation 1</label>
                    <input type="text" class="form-control" id="InputMatriculation1" placeholder="Enter matriculation">
                </div>

                <div class="form-group">
                    <label for="InputMatriculation2">Matriculation 2</label>
                    <input type="text" class="form-control" id="InputMatriculation2" placeholder="Enter matriculation">
                </div>

                <div class="form-group">
                    <label for="InputItem">Items & washing type</label>
                    <input type="text" class="form-control" id="InputItem" placeholder="Enter items">
                </div>

                <div class="form-group">
                    invoice review
                </div>

            <button type="submit" class="btn btn-default">Submit</button>
        </form>

    </div>
</div>