<!--TODO : Washingapp : fix design for all screens
                        change matriculation to irish word-->
<div ng-controller="InvoiceViewController" ng-cloak class="ng-cloak invoice">

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-5">
            <h1 class="btn btn-primary btn-lg btn-print"
                ng-click="print()">
                <span class="fa fa-print"></span> Print</h1>
        </div>
        <div class="col-xs-6 text-right">
            <h1>INVOICE</h1>
            <h1><small>Invoice #{{invoice.ID}}</small></h1>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><strong>To :</strong> {{invoice.customer.name}}</h4>
                </div>
                <div class="panel-body">
                    <p>
                        {{invoice.customer.address}} <br>
                        {{invoice.customer.city}} <br>
                        {{invoice.customer.country}} <br>
                        {{invoice.customer.phone}} <br>
                    </p>
                    <hr/>
                    <p>Vehicle registration #1 : {{invoice.matriculation.first}}</p>
                    <p>Vehicle registration #2 : {{invoice.matriculation.second}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-xs-offset-2 text-right">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4><strong>From :</strong> {{invoice.from.company}}</h4>
                </div>
                <div class="panel-body">
                    <p>
                        {{invoice.from.address}} <br>
                        {{invoice.from.city}} <br>
                        {{invoice.from.country}} <br>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- / end client details section -->

    <table class="table table-bordered">
        <thead>
        <tr class="active">
            <th>
                <h4>Ref</h4>
            </th>
            <th>
                <h4>Type</h4>
            </th>
            <th>
                <h4>Description</h4>
            </th>
            <th>
                <h4>Qty</h4>
            </th>
            <th>
                <h4>Rate/Price</h4>
            </th>
            <th>
                <h4>Sub Total</h4>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="obj in invoice.items">
            <td>{{obj.item.ID}}</td>
            <td class="text-right">{{obj.item.type}}</td>
            <td class="text-right">{{obj.item.name}}</td>
            <td class="text-right">{{obj.quantity}}</td>
            <td class="text-right">{{obj.item.price}} &euro;</td>
            <td class="text-right">{{obj.subTotal}} &euro;</td>
        </tr>
        </tbody>
    </table>
    <div class="row text-right">
        <div class="col-xs-2 col-xs-offset-8">
            <p>
                <strong>
                    Sub Total : <br>
                    TAX : <br>
                    Total : <br>
                </strong>
            </p>
        </div>
        <div class="col-xs-2">
            <strong>
                {{invoice.totalPrice}} &euro; <br>
                N/A <br>
                {{invoice.totalPrice}} &euro; <br>
            </strong>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4>Invoice details</h4>
                </div>
                <div class="panel-body">
                    <p>Invoice number : {{invoice.ID}}</p>
                    <p>Created : {{invoice.created}}</p>
                    <p>Payment mode : {{invoice.paymentMode}}</p>
                    <p class="text-success">Payment status : Paid</p>
                    <p>Comment : {{invoice.comment}}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-7">
            <div class="span7">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Contact Details</h4>
                    </div>
                    <div class="panel-body">
                        <p>
                            Email : {{invoice.from.email}} <br><br>
                            Mobile : {{invoice.from.phone}} <br> <br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
