<div ng-controller="InvoiceListController">
    <div class="row">
        <div class="  col-xs-offset-1 col-xs-10">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"><a href="#">{{letter}}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-10">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Account Type</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-10">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"><a href="#">{{letter}}</a></li>
            </ul>
        </div>
    </div>
</div>
