<div class="ng-cloak" ng-cloak ng-controller="ListInvoiceController">
    <div class="row">
        <h1 class="text-center">{{ 'part.list_invoices' | translate }}</h1>
    </div>
    <div class="row row-lg-space">
        <div class="col-md-offset-3 col-md-6">

            <form class="form-horizontal" ng-submit="search()">
                <div class="form-group">
                    <label for="inputName" class="col-sm-offset-2 col-sm-2 control-label">{{ 'common.from' | translate }}</label>
                    <div class="col-sm-6">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   ng-model="dt.from"
                                   is-open="openedFrom"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   min-date ="01-01-2015"
                                   max-date ="{{now}}"
                                   close-text="Close"
                                   ng-disabled="invoiceIDInput.checked"/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="open($event,'from')"
                        ng-disabled="invoiceIDInput.checked">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="inputAddress" class="col-sm-offset-2 col-sm-2 control-label">{{ 'common.to' | translate }}</label>
                    <div class="col-sm-6">
                        <p class="input-group">
                            <input type="text" class="form-control" datepicker-popup="{{format}}"
                                   ng-model="dt.to"
                                   is-open="openedTo"
                                   datepicker-options="dateOptions"
                                   date-disabled="disabled(date, mode)"
                                   ng-required="true"
                                   min-date ="dt.from"
                                   max-date ="{{now}}"
                                   close-text="Close"
                                    ng-disabled="invoiceIDInput.checked"/>
              <span class="input-group-btn">
                <button type="button"
                        class="btn btn-default"
                        ng-click="open($event,'to')"
                        ng-disabled="invoiceIDInput.checked">
                    <i class="glyphicon glyphicon-calendar"></i>
                </button>
              </span>
                        </p>
                    </div>
                </div>

                <div class="form-group">
                    <label for="InputCustomerName" class="col-sm-4 control-label">{{ 'customer.customer_name' | translate }}
                        <small class="text-muted">({{ 'common.optional' | translate }})</small>
                    </label>
                    <div class="col-sm-6">
                        <input type="text"
                               name="company"
                               ng-model="retrieved.customer"
                               id="InputCompany"
                               placeholder="{{ 'common.enter_customer_name' | translate }}"
                               typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue} "
                               typeahead-loading="loadingCompanies"
                               typeahead-on-select='onSelectCustomer($item, $model, $label)'
                               class="form-control"
                               ng-disabled="invoiceIDInput.checked">
                    </div>
                </div>

                <hr/>

                <div class="form-group">
                    <div class="chekbox col-sm-offset-2 col-sm-1" style="margin-top:7px">
                        <input type="checkbox" value="" ng-model="invoiceIDInput.checked">
                    </div>

                    <label for="inputInvoiceID" class="col-xs-4 col-sm-3 col-lg-3 col-md-4 control-label">
                        {{ 'invoice.invoice_number' | translate }}</label>


                    <div class="col-sm-3">
                        <input type="text" class="form-control"
                               ng-disabled="!invoiceIDInput.checked"
                               ng-model="invoice.ID">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <button class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5 btn btn-primary"
                                type="submit">
                            <span class="fa fa-search"></span>{{ 'common.search' | translate }}</button>
                    </div>
                </div>
            </form>
            </div>
        </div>


    <div class="row row-lg-space">
        <div class=" col-sm-offset-1 col-sm-10">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th class="table-sortable"
                            ng-click="reverse=!reverse ;order('ID', reverse)">
                                {{ 'invoice.invoice_number' | translate }}
                                <span class="fa"
                                      ng-class="{ 'fa-caret-down' :reverse , 'fa-caret-up':!reverse}"
                                      ng-show="active.ID">
                                </span>
                        </th>
                        <th class="table-sortable"
                            ng-click="reverse=!reverse ;order('customer.name', reverse)">
                                {{ 'customer.customer' | translate }}
                            <span class="fa"
                                  ng-class="{ 'fa-caret-down' :reverse , 'fa-caret-up':!reverse}"
                                  ng-show="active.customerName">
                            </span>
                        </th>
                        <th class="table-sortable text-center"
                            ng-click="reverse=!reverse ;order('created', reverse)">
                                {{ 'common.created' | translate }}
                            <span class="fa"
                                  ng-class="{ 'fa-caret-down' :reverse , 'fa-caret-up':!reverse}"
                                  ng-show="active.created">
                            </span>
                        </th>
                        <th class="table-sortable"
                            ng-click="reverse=!reverse ;order('totalPrice', reverse)">
                                {{ 'invoice.amount' | translate }}
                            <span class="fa"
                                  ng-class="{ 'fa-caret-down' :reverse , 'fa-caret-up':!reverse}"
                                  ng-show="active.totalPrice">
                            </span>
                        </th>
                        <th class="text-center">{{ 'common.view' | translate }}</th>
                        <th class="text-center">{{ 'common.download' | translate }}</th>
                        <th class="text-center">{{ 'common.refund' | translate }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="invoice in invoices |slice:limitReq:offsetReq">
                        <td>{{invoice.ID}}</td>
                        <td>{{invoice.customer.name}}</td>
                        <td class="text-center">{{invoice.created | date:'dd-MMMM-yyyy'}}</td>
                        <td>{{invoice.totalPrice}} &euro;</td>
                        <td class="text-center"><a class=" btn btn-primary fa fa-eye"
                               ng-href="#/invoice/list/{{invoice.ID}}"
                               target="_blank"></a></td>
                        <td class="text-center"><a class=" btn btn-danger fa fa-file-pdf-o"
                               target="_self" ng-href="/php/invoices/pdf/{{invoice.ID}}"
                               download="invoice-{{invoice.ID}}.pdf"></a></td>
                        <td class="text-center"><a class=" btn btn-warning fa fa-credit-card"
                                  ng-go="/invoice/refund/{{invoice.ID}}"></a></td>
                    </tr>
                    </tbody>
                    </table>
                </div>
            </div>
     </div>
    <div class="row">
        <div class="block-center text-center">
            <pagination total-items="bigTotalItems"
                        ng-model="currentPage"
                        max-size="4"
                        items-per-page="15"
                        ng-change="pageChanged(currentPage)"
                        class="pagination-sm"
                        boundary-links="true"
                        rotate="false"
                        num-pages="numPages">
            </pagination>
        </div>
    </div>



<spinner loading="loading"></spinner>
</div>