<section id="bodyheader">

    <nav class="navbar navbar-default" role="navigation" >
        <div class="container-fluid" >

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Washing App</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">


                    <li><a href="#/home">Home</a></li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Invoice <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/invoice/create">Create</a></li>
                            <li><a href="#/invoice/edit">Edit</a></li>
                            <li><a href="#/invoice/list">List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Customer <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/customer/create">Create</a></li>
                            <li><a href="#/customer/edit">Edit</a></li>
                            <li><a href="#/customer/list">List</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Item <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/item/create">Create</a></li>
                            <li><a href="#/item/edit">Edit</a></li>
                            <li><a href="#/item/list">List</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right" ng-controller="BodyHeaderController">
                    <li class="ng-cloak navbar-text" ng-show="authenticated != undefined && authenticated" ng-cloak>{{user}}</li>
                    <li class="ng-cloak  navbar-text"
                        ng-show="authenticated != undefined && !authenticated"
                        ng-cloak>
                        <button type="button" class="btn btn-primary" ng-click="goLogin()">Login</button></li>

                    <spinner loading="loading"></spinner>

                    <li class="ng-cloak btn-login"
                        ng-show="authenticated != undefined && authenticated"
                        ng-cloak
                        ng-click="logout()">
                        <button type="button" class="btn btn-primary" ng-click="goLogin()">Logout</button>
                        </li>
                </ul>

            </div>
        </div>
    </nav>

</section>
