


<div class="container-fluid" ng-controller="HomeController">
    <div class="row">
        <accordion class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8 text-center" close-others="false">
            <accordion-group heading="Invoice" is-open="true">
                <p><a href="#/invoice/create">Create Invoice</a></p>
                <p><a href="#/invoice/edit">Edit Invoice</a></p>
                <p><a href="#/invoice/list">List Invoices</a></p>
            </accordion-group>

            <accordion-group heading="Customer" is-open="true">
                <p><a href="#/customer/create">Create Customer</a></p>
                <p><a href="#/customer/edit">Edit Customer information</a></p>
                <p><a href="#/customer/list">List Customer description</a></p>
            </accordion-group>

            <accordion-group heading="Item" is-open="true">
                <p><a href="#/item/create">Create Item</a></p>
                <p><a href="#/item/edit">Edit Item</a></p>
                <p><a href="#">List Items</a></p>
            </accordion-group>
        </accordion>
    </div>

</div>