<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">{{ 'part.create_account' | translate }} </h4>
</div>

<form role="form" name="form" ng-submit="signUp(credentials)">
    <div class="modal-body modal-block">

        <div class="form-group has-feedback" ng-class="{'has-error' : error,
        'has-success' : form.email.$valid && !error}">
            <label for="inputEmail" class="control-label">Email :</label>
            <input type="email"
                   class="form-control"
                   id="inputEmail"
                   placeholder="{{ 'common.enter_email' | translate }}"
                   ng-model="credentials.email"
                   name="email"
                   required>
            <span ng-show="error"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-show="form.email.$valid && !error"
                  class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>


        <div class="form-group has-feedback"
             ng-class="{'has-error' : form.password1.$dirty && form.password1.$invalid ,
             'has-success' : form.password1.$valid }">
            <label for="inputPassword1" class="control-label" >{{ 'common.password' | translate }} :</label>
            <input type="password"
                   class="form-control"
                   id="inputPassword1"
                   ng-model="credentials.password"
                   name="password1"
                    required>
            <span ng-show="(form.password1.$dirty && form.password1.$invalid)"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-show="form.password1.$valid"
                  class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>

        <div class="form-group has-feedback"
             ng-class="{'has-error' : (form.password2.$dirty && differentPassword)
             , 'has-success' : form.password2.$valid && !differentPassword }">
            <label for="inputPassword" class="control-label">{{ 'common.confirm_password' | translate }} :</label>
            <input type="password"
                   class="form-control"
                   id="inputPassword"
                   ng-model="credentials.confirmedPassword"
                   name="password2"
                   required>
            <span ng-show="(form.password2.$dirty && differentPassword)"
                  class="glyphicon glyphicon-remove form-control-feedback"></span>
            <span ng-show="form.password2.$valid && !differentPassword"
                  class="glyphicon glyphicon-ok form-control-feedback"></span>
        </div>
        <hr/>
        <p class="text-info text-center"><strong>{{ 'message.create_account_optional' | translate }}</strong></p>
        <div class="form-group">
            <label for="InputCompany">{{ 'customer.company' | translate }} :</label>
            <input type="text" class="form-control" id="InputCompany" placeholder="{{ 'customer.enter_company' | translate }}" ng-model="credentials.company">
        </div>

        <div class="form-group">
            <label for="InputAddress" class="control-label">{{ 'customer.address' | translate }} :</label>
            <textarea type="text" rows="3" class="form-control" id="InputAddress" placeholder="{{ 'customer.enter_address' | translate }}"
                      ng-model="credentials.address"></textarea>
        </div>
        <div class="form-group">
            <div class="form-inline">
                <div class="form-group">
                    <label for="InputCity">{{ 'customer.city' | translate }} :</label>
                    <input type="text" class="form-control" id="InputCity" placeholder="{{ 'customer.enter_city' | translate }}" ng-model="credentials.city">
                </div>

                <div class="form-group">
                    <label for="InputCountry">{{ 'customer.country' | translate }} :</label>
                    <input type="text" class="form-control" id="InputCountry" placeholder="{{ 'customer.enter_country' | translate }}" value="{{ 'defaultCountry' | translate }}"
                           ng-model="credentials.country">
                </div>
            </div>
        </div>



        <div class="form-group">
            <label for="InputPhone">{{ 'customer.phone' | translate }} :</label>
            <input type="text" class="form-control" id="InputPhone" placeholder="{{ 'customer.enter_phone' | translate }}" ng-model="credentials.phone">
        </div>


        <div ng-show="success" class="alert alert-success">
            {{ 'message.user_account_created' | translate }},<br/>{{ 'message.email_sent' | translate }}
        </div>
        <div ng-show="error" class="alert alert-danger">
            {{ 'message.email_duplicated' | translate }}
        </div>


        <div ng-show="(form.password1.$dirty && form.password1.$invalid) ||
                        (form.password2.$dirty && form.password2.$invalid)"
             class="alert alert-danger">
            {{ 'message.provide_confirmation_password' | translate }}
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default"  ng-click="cancel()">{{ 'common.cancel' | translate }}</button>
        <input type="submit" class="btn btn-primary" value="{{ 'common.create' | translate }}" ng-show="!success"
               ng-disabled="form.$error.required|| form.$invalid || differentPassword">
    </div>
    <spinner loading="loading"></spinner>
</form>
