// Hacks

::-moz-selection {
  background-color: transparent;
}

::selection {
  background-color: transparent;
}

i::-moz-selection {
  background-color: transparent;
}

i::selection {
  background-color: transparent;
}

img::-moz-selection {
  background-color: transparent;
}

img::selection {
  background-color: transparent;
}

input::-moz-selection {
  color: @white;
  background-color: @gray-dark;
}

input::selection {
  color: @white;
  background-color: @gray-dark;
}

::-webkit-input-placeholder {
  background-color: @white;
}

input::-moz-focus-inner {
  border: 0;
}

[disabled]::-webkit-input-placeholder,
.disabled::-webkit-input-placeholder {
  background-color: @gray-light;
}

input:-moz-placeholder {
  background-color: @white;
}

input[disabled]:-moz-placeholder,
input.disabled:-moz-placeholder {
  background-color: @gray-light;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.modal-open .modal {
  background-color: rgba(0, 0, 0, 0.51);
}

.test {
  color: blue;
  font-weight: bolder;
}

#align-div{
  width: 30%;
  margin: 0 auto;
  list-style-type: none;
}

.btn-login{
  margin-top: 8px;
}

.test-tr{
  background-color: red;
}