<!-- TODO : Washingapp : implement account type -->
<div class="container-fluid ng-cloak" ng-controller="CreateCustomerController" ng-cloak>
    <div class="row">
        <h1 class="text-center">{{ 'part.create_customer' | translate }}</h1>
    </div>
    <div class="row row-lg-space">
        <div class="col-md-offset-3 col-md-6">
            <form role="form"
                  ng-submit="addCustomer(customer)"
                  name="form">

                <div class="form-group">
                    <label for="InputName">{{ 'customer.customer_name' | translate }}</label>
                    <input type="text"
                           ng-model="customer.name"
                           id="InputName"
                           name="name"
                           placeholder="{{ 'common.enter_customer_name' | translate }}"
                           class="form-control" required>
                </div>


                <div class="form-group">
                    <label for="InputAddress">{{ 'customer.address' | translate }}</label>
                    <textarea type="text" rows="3" class="form-control" id="InputAddress" placeholder="{{ 'customer.enter_address' | translate }}"
                              ng-model="customer.address"></textarea>
                </div>


                <div class="form-inline">
                    <div class="form-group">
                        <label for="InputCity">{{ 'customer.city' | translate }}</label>
                        <input type="text" class="form-control" id="InputCity" placeholder="{{ 'customer.enter_city' | translate }}" ng-model="customer.city">
                    </div>

                    <div class="form-group">
                        <label for="InputCountry">{{ 'customer.country' | translate }}</label>
                        <input type="text" class="form-control" id="InputCountry" placeholder="{{ 'customer.enter_country' | translate }}" value="Ireland"
                               ng-model="customer.country">
                    </div>
                </div>


                <div class="form-group">
                    <label for="InputPhone">{{ 'customer.phone' | translate }}</label>
                    <input type="text" class="form-control" id="InputPhone" placeholder="{{ 'customer.enter_phone' | translate }}" ng-model="customer.phone">
                </div>


                <button type="submit" class="btn btn-success"
                        ng-disabled="form.name.$invalid">{{ 'common.create' | translate }}</button>

            </form>
        </div>

    </div>

    <div class="row">
        <div class="center-block text-center">
            <span ng-show="success && form.name.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {{ 'message.customer_created_success' | translate }}
            </span>

            <span ng-show="error && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {{ 'message.error_customer_not_created' | translate }}
            </span>

            <span ng-show="invalidName" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {{ 'message.error_customer_name_duplicated' | translate }}
            </span>

            <spinner loading="loading"></spinner>
        </div>
    </div>
</div>
