<div class="container-fluid" ng-controller="CreateCustomerController">
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
            <form role="form"
                  ng-submit="addCustomer(customer)"
                  name="form">

                <div class="form-group">
                    <label for="InputName">Customer name</label>
                    <input type="text"
                           ng-model="customer.name"
                           id="InputName"
                           name="name"
                           placeholder="Enter customer name"
                           class="form-control" required>
                </div>


                <div class="form-group">
                    <label for="InputAddress">Address :</label>
                    <textarea type="text" rows="3" class="form-control" id="InputAddress" placeholder="Enter address"
                              ng-model="customer.address"></textarea>
                </div>


                <div class="form-inline">
                    <div class="form-group">
                        <label for="InputCity">City :</label>
                        <input type="text" class="form-control" id="InputCity" placeholder="Enter city" ng-model="customer.city">
                    </div>

                    <div class="form-group">
                        <label for="InputCountry">Country :</label>
                        <input type="text" class="form-control" id="InputCountry" placeholder="Enter country" value="Ireland"
                               ng-model="customer.country">
                    </div>
                </div>


                <div class="form-group">
                    <label for="InputCity">Phone :</label>
                    <input type="text" class="form-control" id="InputCity" placeholder="Enter city" ng-model="customer.phone">
                </div>


                <button type="submit" class="btn btn-success"
                        ng-disabled="form.name.$invalid">Create customer</button>

            </form>
        </div>

    </div>

    <div class="row row-space text-center">
        <div class="col-xs-offset-3 col-xs-6">
            <div ng-show="success && form.name.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                Customer has been created
            </div>

            <div ng-show="error && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Error, customer hasn't been created, server doesn't respond
            </div>

            <div ng-show="invalidName" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Name is already used for another customer, change it
            </div>

            <spinner loading="loading"></spinner>
        </div>
    </div>
</div>
