<!-- TODO : Washingapp : implement account type, doublon pb static name io dynamic binded
 interlace between error and success message-->
<div class="container-fluid ng-cloak" ng-controller="EditCustomerController" ng-cloak>
    <div class="row">
        <h1 class="text-center">{{ 'part.edit_customer' | translate }}</h1>
    </div>

    <div class="row row-lg-space">
        <div class="col-md-offset-3 col-md-6">
            <label for="InputCompany">{{ 'customer.customer_name' | translate }}</label>
            <input type="text"
                   ng-model="retrieved"
                   id="InputCompany"
                   class="form-control"
                   placeholder="{{ 'common.enter_customer_name' | translate }}"
                   typeahead="customer as customer.name for customer in customers | filter:{name:$viewValue} "
                   typeahead-on-select='onSelect($item, $model, $label)'>
            <spinner loading="loading"></spinner>
        </div>
    </div>

    <div class="row">
        <div class="ng-cloak col-md-offset-3 col-md-6"
             ng-cloak>

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">{{ 'customer.name' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName"
                               ng-model="customer.name"
                               ng-disabled="!editor">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputAddress" class="col-sm-2 control-label">{{ 'customer.address' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputAddress"
                               ng-disabled="!editor"
                               ng-model="customer.address">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="col-sm-2 control-label">{{ 'customer.city' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputCity"
                               ng-disabled="!editor"
                               ng-model="customer.city">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCountry" class="col-sm-2 control-label">{{ 'customer.country' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputCountry"
                               ng-disabled="!editor"
                               ng-model="customer.country">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPhone" class="col-sm-2 control-label" >{{ 'customer.phone' | translate }}</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputPhone"
                               ng-disabled="!editor"
                               ng-model="customer.phone">
                    </div>
                </div>
            </form>

        </div>
    </div>
    <div class="row row-lg-space">
        <button class="btn btn-danger col-xs-offset-5 col-xs-2 col-sm-offset-2 col-sm-2 col-space"
                ng-click="remove(customer)"
                ng-disabled="!found">
            {{ 'common.delete' | translate }}
        </button>
        <button class="btn btn-primary col-xs-offset-5 col-xs-2 col-space col-sm-offset-1 col-sm-2"
                ng-click="editor=true"
                ng-disabled="!found"
                ng-show="!editor">
            {{ 'common.edit' | translate }}
        </button>
        <button class="btn btn-success col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="update(customer)"
                ng-show="editor">
            {{ 'common.update' | translate }}
        </button>
        <button class="btn primary col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="resetChange()"
                ng-show="editor">
            {{ 'common.reset' | translate }}
        </button>
    </div>


    <div class="row" ng-show="edited && retrieved===''">
        <div class="center-block text-center">
           <span class="alert alert-success">
           <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
           {{ 'customer.the_customer' | translate }} <strong>{{tempName}}</strong> {{ 'message.edited_successfully' | translate }}
            </span>
        </div>
    </div>

    <div class=" row" ng-show="deleted && retrieved===''">
        <div class="center-block text-center"><span class="alert alert-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {{ 'customer.the_customer' | translate }} <strong>{{tempName}}</strong> {{ 'message.deleted_successfully' | translate }}
        </span></div>
    </div>

    <div class="row" ng-show="doublon">
        <div class="center-block text-center">
            <span class="alert alert-danger ">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {{ 'customer.the_customer' | translate }} <strong>{{tempName}}</strong> {{ 'message.error_edited' | translate }}
        </span></div>
    </div>
</div>
