<div ng-controller="ListCustomerController">
    <div class="row">
        <h1 class="text-center">Customers List</h1>
    </div>

    <div class="row" style="margin-top: 30px;">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
            <div class="input-group">
                <span class="input-group-addon">
                   <i class="fa fa-search"></i>
                </span>
                <input type="text" class="form-control" placeholder="Search for...">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="  col-xs-offset-1 col-xs-10">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"><a href="#">{{letter}}</a></li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-10">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Phone</th>
                        <th>Account Type</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                        <td><span class=" btn btn-primary fa fa-pencil-square-o"
                                ng-go="#/customers/edit/"></span></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                        <td><span class=" btn btn-primary fa fa-pencil-square-o"></span></td>
                    </tr>
                    <tr class="success">
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                        <td><span class=" btn btn-primary fa fa-pencil-square-o"></span></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                        <td><span class=" btn btn-primary fa fa-pencil-square-o"></span></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                        <td><span class=" btn btn-primary fa fa-pencil-square-o"></span></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                        <td><span class=" btn btn-primary fa fa-pencil-square-o"></span></td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                        <td>Perpignan</td>
                        <td>France</td>
                        <td>98798898</td>
                        <td>in account</td>
                        <td><span class=" btn btn-primary fa fa-pencil-square-o"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class=" col-xs-offset-1 col-xs-10">
            <ul class="pagination">
                <li ng-repeat="letter in alphabet"><a href="#">{{letter}}</a></li>
            </ul>
        </div>
    </div>
</div>
