<div class="container-fluid ng-cloak" ng-cloak ng-controller="CreateItemController">
    <div class="row">
        <h1 class="text-center">{{ 'part.create_item' | translate }}</h1>
    </div>

            <form role="form"
                  ng-submit="addItem(item)"
                  name="form">

                <div class="row">
                    <div class="form-group col-md-offset-3 col-md-6">
                        <label for="InputName">{{ 'item.name' | translate }} </label>
                        <input type="text"
                               ng-model="item.name"
                               id="InputName"
                               name="name"
                               placeholder="{{ 'item.enter_item_name' | translate }}"
                               class="form-control" required>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-offset-3 col-md-6">
                        <label> {{ 'item.washing_type' | translate }} </label>

                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Outside"
                                       checked>
                                {{ 'Outside' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Inside">
                                {{ 'Inside' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Other">
                                {{ 'Other' | translate }}
                            </label>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group has-feedback col-xs-4 col-md-offset-3 col-md-2" ng-class="{'has-error' : wrongPrice}">
                        <label class="control-label" for="InputPrice">{{ 'item.price' | translate }} (&euro;) </label>
                        <input type="text" class="form-control" id="InputPrice" placeholder="XXX.XX"
                               ng-model="item.price" required>
                        <span ng-show="wrongPrice" style="text-align: left;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>



                <div class="row">
                    <div class="form-group col-xs-2 col-md-offset-3 col-md-2">
                        <button type="submit" class="btn btn-success"
                                ng-disabled="form.$invalid || wrongPrice">{{ 'common.create' | translate }}
                        </button>
                    </div>
                </div>

            </form>


    <div class="row">
        <div class="center-block text-center">
            <span ng-show="success && form.name.$invalid" class="alert alert-success">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                {{ 'message.item_created_success' | translate }}
            </span>
        </div>
    </div>


    <div class="row">
        <div class="center-block text-center">
            <span ng-show="error && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {{ 'message.error_item_not_created' | translate }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="center-block text-center">
            <span ng-show="error && !success" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {{ 'message.error_wrong_price' | translate }}
            </span>
        </div>
    </div>

    <div class="row">
        <div class="center-block text-center">
            <span ng-show="invalidName" class="alert alert-danger">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                {{ 'message.error_item_name_type_duplicated' | translate }}
            </span>
        </div>
    </div>

    <spinner loading="loading"></spinner>

</div>
