<!-- TODO : Washingapp : ask for deletion -->
<div class="container-fluid ng-cloak" ng-cloak ng-controller="EditItemController">
    <div class="row">
        <h1 class="text-center">{{ 'part.edit_item' | translate }}</h1>
    </div>

    <div class="row row-lg-space">
        <div class="col-md-offset-3 col-md-6">
            <label for="InputName">{{ 'item.name' | translate }}</label>
            <input type="text"
                   ng-model="retrieved"
                   id="InputName"
                   class="form-control"
                   placeholder="{{ 'item.enter_item_name' | translate }}"
                   typeahead="item as item.description for item in items | filter:{description:$viewValue}| limitTo:8 "
                   typeahead-on-select='onSelect($item, $model, $label)'>
            <spinner loading="loading"></spinner>
        </div>
    </div>

            <form name="form">
                <div class="row">
                    <div class="form-group col-md-offset-3 col-md-6">
                        <label for="inputNameNew" class="control-label">{{ 'item.name' | translate }}</label>
                        <input type="text" class="form-control" id="inputNameNew" name="nameCustomer"
                               ng-model="item.name"
                               ng-disabled="!editor"
                                required>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-offset-3 col-md-6">
                        <label> {{ 'item.washing_type' | translate }} :</label>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Outside"
                                       ng-disabled="!editor">
                                {{ 'Outside' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Inside"
                                       ng-disabled="!editor">
                                {{ 'Inside' | translate }}
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Other"
                                       ng-disabled="!editor">
                                {{ 'Other' | translate }}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group has-feedback col-xs-4 col-md-offset-3 col-md-2" ng-class="{'has-error' : wrongPrice}">
                        <label for="inputCity" class="control-label">{{ 'item.price' | translate }}</label>
                        <input type="text" class="form-control" id="inputCity"
                               ng-disabled="!editor"
                               ng-model="item.price">
                        <span ng-show="wrongPrice" style="text-align: left;" class="glyphicon glyphicon-remove form-control-feedback"></span>
                    </div>
                </div>


            </form>

    <div class="row row-lg-space">
        <button class="btn btn-danger col-xs-offset-5 col-xs-2 col-sm-offset-2 col-sm-2 col-space"
                ng-click="remove(item)"
                ng-disabled="!found">
            {{ 'common.delete' | translate }}
        </button>
        <button class="btn btn-primary col-xs-offset-5 col-xs-2 col-space col-sm-offset-1 col-sm-2"
                ng-click="editor=true"
                ng-disabled="!found"
                ng-show="!editor">
            {{ 'common.edit' | translate }}
        </button>
        <button class="btn btn-success col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="update(item)"
                ng-show="editor"
                ng-disabled="form.$invalid || wrongPrice">
            {{ 'common.update' | translate }}
        </button>
        <button class="btn btn-default col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="resetChange()"
                ng-show="editor">
            {{ 'common.reset' | translate }}
        </button>
    </div>


    <div class="row row-space" ng-show="edited">
        <div class="center-block text-center"><span class="alert alert-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {{ 'item.item_the' | translate }} <strong>{{itemPrev.name}}</strong> {{ 'message.edited_successfully' | translate }}
        </span></div>
    </div>

    <div class="row row-lg-space" ng-show="deleted">
        <div class="center-block text-center"><span class="alert alert-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            {{ 'item.item_the' | translate }} <strong>{{itemPrev.name}}</strong> {{ 'message.deleted_successfully' | translate }}
        </span></div>
    </div>

    <div class="row row-lg-space" ng-show="doublon">
       <div class="center-block text-center"> <span class="alert alert-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            {{ 'item.item' | translate }} <strong>{{item.name}}</strong> : {{ 'message.error_item_name_type_duplicated' | translate }}
        </span></div>
    </div>
</div>
