<div class="container-fluid" ng-controller="EditItemController">

    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8">
            <label for="InputName">Item name</label>
            <input type="text"
                   ng-model="retrieved"
                   id="InputName"
                   class="form-control"
                   placeholder="Enter item name"
                   typeahead="item as item.description for item in items | filter:{description:$viewValue} "
                   typeahead-on-select='onSelect($item, $model, $label)'>
            <spinner loading="loading"></spinner>
        </div>
    </div>

    <div class="row row-lg-space">
        <div class="ng-cloak col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-8"
             ng-cloak>

            <form>
                <div class="form-group">
                    <label for="inputName" class="control-label">Name :</label>
                        <input type="text" class="form-control" id="inputName"
                               ng-model="item.name"
                               ng-disabled="!editor">
                </div>

                <div class="form-group">
                        <label> Washing type :</label>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Inside"
                                       ng-disabled="!editor">
                                Inside
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Outside"
                                       ng-disabled="!editor">
                                Outside
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio"
                                       ng-model="item.type"
                                       value="Other"
                                       ng-disabled="!editor">
                                Other
                            </label>
                        </div>
                </div>
                <div class="form-group">
                    <label for="inputCity" class="control-label">Price :</label>
                        <input type="text" class="form-control" id="inputCity"
                               ng-disabled="!editor"
                               ng-model="item.price">
                </div>
            </form>

        </div>
    </div>
    <div class="row space-lg-row">
        <button class="btn btn-danger col-xs-offset-5 col-xs-2 col-sm-offset-2 col-sm-2 col-space"
                ng-click="remove(item)"
                ng-disabled="!found">
            Delete
        </button>
        <button class="btn btn-primary col-xs-offset-5 col-xs-2 col-space col-sm-offset-1 col-sm-2"
                ng-click="editor=true"
                ng-disabled="!found"
                ng-show="!editor">
            Edit
        </button>
        <button class="btn btn-success col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="update(item)"
                ng-show="editor">
            Update
        </button>
        <button class="btn primary col-xs-offset-5 col-xs-2 col-sm-offset-1 col-sm-2 col-space"
                ng-click="resetChange()"
                ng-show="editor">
            Reset change
        </button>

    </div>


    <div class="row space-lg-row" ng-show="edited">
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Item <strong>{{itemPrev.name}}</strong> edited successfully
        </div>
    </div>

    <div class="row space-lg-row" ng-show="deleted">
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Item <strong>{{itemPrev.name}}</strong> deleted successfully
        </div>
    </div>

    <div class="row space-lg-row" ng-show="doublon">
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Item <strong>{{item.name}}</strong> can't be edited, an existing item has the same name
        </div>
    </div>
</div>
